body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f1e9; /* Color tierra claro */
}

header {
    background-color: #8B4513; /* Marrón tierra */
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #D2691E; /* Naranja tabasqueño */
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    text-align: center;
}

h2 {
    color: #654321; /* Marrón oscuro */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

a {
    color: #006400; /* Verde selva */
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #8B4513;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
